<footer class="footer " xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="footer">
        <div class="fixed-bottom float-left">
            <ul class=" col-sm-12">
                <li><span>
                    2018 &copy; MacH
                </span></li>
            </ul>
        </div>
<!--        <div class="float-right">
            <ul class=" col-sm-12">
                <li><span th:if="${#httpServletRequest.remoteUser != null}"
                          th:inline="text"> Hello <span style="color: red">
                    [[${#strings.capitalize(#httpServletRequest.remoteUser)}]] </span>!</span>
                </li>
            </ul>
        </div>-->
    </div>
</footer>