<!--
<ul class="btn-group-vertical" data-toggle="buttons" th:fragment="sidebar"
    xmlns:th="http://www.thymeleaf.org">
    <li>
        <a href="#" th:href="@{/requests}">
            <button type="button" class="btn btn-success btn-lg sidebar-buttons">All Requests
            </button>
        </a>
    </li>
    <li>
        <div>
            &lt;!&ndash; Button to Open the Modal &ndash;&gt;
            <button type="button" class="btn btn-success btn-lg sidebar-buttons " data-toggle="modal"
                    data-target="#myModal">
                Request by Client Id
            </button>
            &lt;!&ndash; The Modal &ndash;&gt;
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content" style="background-color: black">
                        &lt;!&ndash; Modal Header &ndash;&gt;
                        <div class="modal-header">
                            <h4 class="modal-title">Existing Clients: </h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        &lt;!&ndash; Modal body &ndash;&gt;
                        <div class="modal-body">
                            <ul th:if="${not #lists.isEmpty(clients)}" th:each="client : ${clients}">
                                <li th:if="${not #lists.isEmpty(client.getRequestDtoList())}">
                                    <a th:href="${'/requests/clients/'+ client.clientId}">Client Id:
                                        <span th:text="${client.clientId + ' ,Name: ' + client.getName()}"></span></a>
                                </li>
                            </ul>
                        </div>
                        &lt;!&ndash; Modal footer &ndash;&gt;
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <li>
    <li>
        <br><br><br><br><br><br>
    </li>
    <li>
        <span class="border border-success" style="font-size: 15px; margin-left: 90px">Upload Files</span>
    </li>

    <li>
        <div class="form-group sidebar-buttons">
            <form class="input-group mb-3" action="#" th:action="@{/requests/upload-xml}" method="post"
                  enctype="multipart/form-data">
                <div class="custom-file">
                    <input type="file" name="myFile" class="custom-file-input" id="inputGroupFile03"/>
                    <label class="custom-file-label" for="inputGroupFile03">XML file</label>
                </div>
                <div class="input-group-append">
                    <input type="submit" value="Upload" id="input-id" class="input-group-text"/>
                </div>
            </form>
        </div>
    </li>
    <li>
        <div class="form-group sidebar-buttons">
            <form class="input-group mb-3" action="#" th:action="@{/requests/upload-csv}" method="post"
                  enctype="multipart/form-data">
                <div class="custom-file">
                    <input type="file" name="myFile" class="custom-file-input" id="inputGroupFile04"/>
                    <label class="custom-file-label" for="inputGroupFile03">CSV file</label>
                </div>
                <div class="input-group-append">
                    <input type="submit" value="Upload" id="input-id4" class="input-group-text"/>
                </div>
            </form>
        </div>
    </li>
</ul>

-->
