<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Orders Service</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br><br><br><br><br><br>
            <div>
                <ol style="font-size: 20px; alignment: center; text-align-all: center">
                    <li>The application <b>OrdeRs Service</b> is used to generate and manage requests  stored in</li>
                    <li> the database.</li>
                    <li>You can create request using Swagger, REST endpoints or upload them from </li>
                    <li>CSV, XML file by appropriate buttons.</li>
                    <li>Easy access to the database by hyperlink "H2" and default login: <b>admin</b>,</li>
                    <li> password: <b>pass</b>, <b>jdbc:h2:mem:CS</b>.</li>
                    <li>Possibility to generate, print and save in the file, following reports : All Requests </li>
                    <li>or Requests By Client Id ( total count , total value, average value of requests)</li>
                </ol>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>