<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Orders Service</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <br><br><br><br><br><br>
            <div>
                <ol style="font-size: 20px; alignment: center; text-align-all: center">
                    <li><b>OrdeRs Service</b> is Spring Boot + JPA / Hibernate web application.
                        Easy way to generate and manage client requests stored in the database.
                    </li>
                </ol>
            </div>
            <div>
                <img src="/static/img/about.jpg" th:src="@{/img/about.jpg}"
                     alt="about"
                     style="width: 8cm; height: 8cm; margin-left: 30%">
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div style="color: #01d001; margin-left: 12%">
                        <b>"I reach where the eye does not reach, and there is a NullPointerException "</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</body>
</html>