<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Orders Service</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <br><br><br><br><br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <form class="form-horizontal" th:object="${requestById}" th:action="@{/request}" method="post">
                    <input type="hidden" th:field="*{uuid}"/>
                    <input type="hidden" th:field="*{requestId}"/>
                    <input type="hidden" th:field="*{clientId}"/>
                    <input type="hidden" th:field="*{clientName}"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name:</label>
                        <input type="text" class="form-control" th:field="*{name}" title="name"/>
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                        <label class="col-sm-2 control-label">Quantity:</label>
                        <input type="number" class="form-control" th:field="*{quantity}" title="quantity"/>
                        <div th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</div>
                        <label class="col-sm-2 control-label">Price:</label>
                        <input type="text" class="form-control" th:field="*{price}" title="price"/>
                        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</div>
                    </div>
                    <div class="row fa-pull-left">
                        <button type="button" onclick="history.back(-1)" class="btn btn-danger btn-lg -pull-left">
                            Back
                        </button>
                    </div>
                    <div class="row fa-pull-right">
                        <button type="submit" style="background-color: #5BB618"
                                class="btn btn-success btn-lg -pull-right">Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
        <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
    </div>
</div>
</body>
</html>