<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Orders Service</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <br><br><br><br><br>
    <div class="row">
        <div class="col-md-3">
            <div class="sidebar">
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <form class="form-horizontal" th:object="${request}" th:action="@{/client/requests/new}" method="post">
                    <input type="hidden" th:field="*{clientId}"/>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{name}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Quantity:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{quantity}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{price}"/>
                        </div>
                    </div>
                    <div class="row fa-pull-right">
                        <button type="submit" style="background-color: #5BB618"
                                class="btn btn-success btn-lg -pull-right">Save
                        </button>
                    </div>
                </form>
            </div>
            <div class="row fa-pull-left">
                <button type="button" onclick="history.back(-1)" class="btn btn-danger btn-lg -pull-left">
                    Back
                </button>
            </div>
        </div>
    </div>
    <!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->
</div>
</body>
</html>